h1 {
    color: black;
}

#Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px 0;
    margin: 20px auto;
    width: max-content;
    background: #FFF;
}

#Nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

#Nav li {
    margin: 0;
}

#Nav .button {
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#Nav .button:hover {
    background-color: #e2e2e2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.banner img {
    height: auto;
    width: 100%;
    display: block;
    image-rendering: optimizeQuality;
}

.stable-search {
    border: 1px solid black;
    padding: 25px;
    width: 50%;
    position: absolute;
    top: calc(28% - 22px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.discover {
    height: 2000px;
    background-color: darkgray;
    margin-top: 0;
}

.contact-us {
    height: 1000px;
    background-color: gainsboro;
}
.top-selling h2 {
    color: navy;
    font-size: 24px;
}

.fastest-horses h2 {
    color: navy;
    font-size: 24px;
}
body{
    background-color: hsl(0, 0%, 50%);
}