h1 {
    color: #d4af37;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 700;
}
body{
    background-color: hsl(0, 0%, 50%);
}
#Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px 0;
    margin: 20px auto;
    width: max-content;
    background: #FFF;
}

#Nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

#Nav li {
    margin: 0;
}

#Nav .button {
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#Nav .button:hover {
    background-color: #e2e2e2;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.banner img {
    height: auto;
    width: 100%;
    display: block;
    image-rendering: optimizeQuality;
}

input {
    border: 1px solid black;
    border-radius: 100px;
    padding: 25px;
    width: 50%;
    position: absolute;
    top: calc(28% - 22px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


.discover {
    height: 2000px;
    background-color: darkgray;
    margin-top: 0;
}

.row-title {
    color: #d4af37;
    font-family: 'Playfair Display', serif;;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(85, 61, 49, 0.8);
    letter-spacing: 0.05em;
    width: 100%;
    padding-left: 20px;
    margin: 30px 0 10px;
    font-size: 50px;
    font-weight: bold;
}

.parent-container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    margin: 50px 0;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    margin: auto;
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.product-item img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-item h3 {
    margin: 10px 0 5px;
}

.product-item p {
    margin: 0 0 10px;
}

.product-item button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.product-item button:hover {
    background-color: #45a049;
}




.quiz-placeholder {
    border: 1px solid #ccc;
    padding: 2em;
    margin: 2em auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
}

.quiz-placeholder h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.quiz-placeholder p {
    font-size: 1em;
    margin-bottom: 1em;
}

.quiz-placeholder button {
    padding: 0.5em 1em;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.quiz-placeholder button:hover {
    background-color: #005f73;
}


footer{
    height: 1200px;
    background-color: gainsboro;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    padding: 15%;
    text-align: center;
}

h4{
    color: slategray;
    font-size: 75px;
    width: auto;

}
.contact-us ul {
    list-style-position: inside;
}
.footer-slogan h2 {
    color: white;
    font-size: 75px;
    max-width: 50%;
}